/* common code start here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100%;
    padding: 8rem 9% 5rem;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
/* common code end here*/

/*  header section start here*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);

}
/*  header section end here*/

/* home section start here */
    .home{
        display: flex;
         justify-content: space-around; 
        align-items: center;

    }
    .home-content{
        width: 65rem;
    }
    .home-content h3{
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
    }
    .home-content h3:nth-of-type(2){
        margin-bottom:2rem ; 
    }
    span{
        color: var(--main-color);

    }
    .home-content h1{
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.2rem;
    }
    .home-content p{
        font-size: 1.6rem;
        margin: 2rem 0 4rem;
        letter-spacing: 0.2rem;
    }
    .home-content .btn-box{
        
        display: flex;
        justify-content: space-between;
        width: 34.5rem;
        height: 5rem;
        /* margin: 3rem 1.5rem 3rem 0; */
    }
    .btn-box a{
       
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 100%;
        background: var(--main-color);
        border:  0.2rem solid var(--main-color);
        border-radius: 0.8rem;
        font-size: 1.9rem;
        color: var(--second-bg-color);
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.1rem;
        z-index: 1;
        overflow: hidden;
        transition: .3s;
    }
    .btn-box a:hover{
        color: var(--main-color);
        background: transparent;
        box-shadow: 0 0 1rem var(--main-color);
    }
    .btn-box a:nth-child(2){
        background: transparent;
        color: var(--main-color);
    }
    .btn-box a:nth-child(2):hover{
        color: var(--second-bg-color);
        background: var(--main-color);
    }

    .home{
        justify-content: space-around;
    }
    /* .home-image{
        display: flex;
        align-items:center;
        justify-content: center;
    } */
    .home-image img{
        width: 30rem;
        border: 0.2rem solid var(--main-color);
        border-radius: 3rem;
        padding: 1rem;
        
    }
    /* .home-icons{
        
        width: 25rem;
        display: flex;
        justify-content: space-between;
        margin-top: 30vh;
    } */
    .home-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background:transparent;
        border: .2rem solid var(--main-color);
        font-size: 2rem;
        color: var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        text-decoration: none;
        z-index: 1;
        overflow: hidden;
        transition: .3s;
        margin: 3rem 1.5rem 3rem 0;
    }
    .home-icons a:hover{
        background: var(--main-color);
        color: var(--second-bg-color);
        box-shadow: 0 0 1rem var(--main-color);
    }
/* home section end here */

/* about section start here */
    .about{
        background: var(--second-bg-color);
    }
    .about-inside{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .about-image img{
        width: 30rem;
        border: 0.2rem solid var(--main-color);
        border-radius: 3rem;
        padding: 1rem;
    }
    .heading{
        text-align: center;
        font-size: 4.5rem;
        margin-bottom: 5rem;
    }
    .about-content{
        width: 65%;
    }
    .about-content h2{
        text-align: left;
        line-height: 1.2;
    }
    .about-content h3{
        font-size: 2.6rem;
    }
    .about-content p{
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        margin: 2rem 0 3rem;
    }

    .about-btn{
        font-size: 1.9rem;
        color: var(--main-color);
        background: transparent;
        border:  0.2rem solid var(--main-color);
        border-radius: 0.8rem;
        padding: .8rem 2rem;
    }
    .about-btn:hover{
        background: var(--main-color);
        color: var(--second-bg-color);
        box-shadow: 0 0 1rem var(--main-color);
    }
/* about section end here */


/* services section start here */
    .services-contsiner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .services-contsiner .services-box{
        flex: 1 1 30rem;
        background: var(--second-bg-color);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: .2 solid var(--bg-color);
        transition: .3s ease;
    }
    .services-contsiner .services-box:hover{
        border:  0.2rem solid var(--main-color);
        transform: scale(1.05);
    }
    .services-box i{
        font-size: 7rem;
        color: var(--main-color);
    }
    .services-box h3{
        font-size: 2.5rem;
    }
    .services-box p{
        font-size: 1.6rem;
        margin: 1rem 0 3rem;
    }
    .services-btn{
        font-size: 1.9rem;
        color: var(--bg-color);
        background: var(--main-color);
        border:  0.2rem solid var(--main-color);
        border-radius: 0.8rem;
        padding: .8rem 2rem;
    }
    .services-btn:hover{
        background: transparent;
        color: var(--main-color);
        box-shadow: 0 0 1rem var(--main-color);
    }

/* services section end here */


/* portfolio section start here */
.portfolio{
    background: var(--second-bg-color);
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    display: flex;
    overflow: hidden;
}
.portfolio-box img{
    width: 100%; 
    transition: .3s;  
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .9), var(--main-color));
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .3s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3.5rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    margin-top: 2rem;
}
.portfolio-layer a i{
    font-size: 3rem;
    color: var(--second-bg-color);
}
/* portfolio section end here */

/* contact section start here */

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .contact-btn{
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.9rem;
    color: var(--bg-color);
    background: var(--main-color);
    border:  0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    padding: .8rem 2rem;
}
.contact form .contact-btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* contact section end here */

/* Footer Section start here */
.footer{
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 9%;
}
.footer-text p{
    font-size: 1.2rem;
   font-weight: 100;
   letter-spacing: .2rem;
    
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .3s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
/* Footer Section end here */



/* responsive media section start*/
@media (max-width:1200px){
html{
    font-size: 55%;
}
}

@media (max-width:992px){
.header{
    padding: 2rem 3%;
}
section{
    min-height: 100%;
    padding: 8rem 7% 5rem;
}
/* .services-contsiner{
    padding-bottom: 7rem;
} */
/* .portfolio{
    margin-bottom: 7rem;
} */
.footer{
    padding: 2rem 3%;
}
.about-content{
 margin-left: 2rem;
}

}

@media (max-width:768px){
html{
    font-size: 50%;
}
    .home-content{
        margin-top: 10rem;
        justify-content: center;
        align-items: center;
        width: 45rem;
    }
    section{
        min-height: 100%;
        padding: 5rem 5% 5rem;
    }
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-image img{
        width: 25rem;
        margin-bottom: 4rem;
    }

    .about-inside{
        flex-direction: column-reverse;
    }
    .about-content{
        width: 90%;
    }
    .about img{
        width: 25rem;
        margin: 4rem 0;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    html{
        font-size: 50%;
     }
     section{
        min-height: 100%;
        padding: 5rem 3% 5rem;
    }

}
@media (max-width:450px){
 html{
    font-size: 50%;
 }
 .contact form .input-box input{
    width: 100%;
 }
}

/* responsive media section end*/